body {
  width: 100%;
  margin: 0 auto; }

/*** THE HEADER ***/
header {
  font-family: sans-serif; }
  header #top-nav-area {
    background: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap; }
    header #top-nav-area .top-nav-icons {
      position: relative;
      top: 5px;
      margin-right: 3px; }
    header #top-nav-area #contact-us-area {
      position: relative;
      top: 10px;
      height: 30px; }
      header #top-nav-area #contact-us-area p {
        margin: 0; }
        header #top-nav-area #contact-us-area p:nth-child(1) {
          font-weight: bold; }
    header #top-nav-area #currency-converter-area {
      position: relative;
      top: 10px;
      height: 30px; }
      header #top-nav-area #currency-converter-area select {
        outline: none;
        border: none; }
    header #top-nav-area #site-logo-area {
      display: flex;
      flex-direction: column; }
      header #top-nav-area #site-logo-area a {
        width: 130px;
        margin: auto; }
        header #top-nav-area #site-logo-area a img {
          width: 130px;
          margin: auto; }
      header #top-nav-area #site-logo-area p {
        color: #c5c5c5;
        font-size: 5vw;
        font-weight: 700;
        margin: auto; }
        header #top-nav-area #site-logo-area p span {
          color: #f78f08; }
    header #top-nav-area #sign-in-area {
      position: relative;
      top: 10px;
      display: flex;
      flex-direction: row;
      height: 30px; }
      header #top-nav-area #sign-in-area p {
        margin: 0;
        transition: .3s ease;
        -moz-transition: .3s ease;
        -webkit-transition: .3s ease; }
        header #top-nav-area #sign-in-area p:hover {
          cursor: pointer;
          color: #c5c5c5; }
    header #top-nav-area #shopping-cart-area {
      position: relative;
      top: 10px;
      display: flex;
      flex-direction: row;
      height: 30px; }
      header #top-nav-area #shopping-cart-area p {
        margin: 0;
        transition: .3s ease;
        -moz-transition: .3s ease;
        -webkit-transition: .3s ease; }
        header #top-nav-area #shopping-cart-area p:hover {
          cursor: pointer;
          color: #c5c5c5; }
  header #sub-selection-nav-area {
    background: black;
    color: white;
    padding: 10px; }
    header #sub-selection-nav-area #sub-selection-nav {
      width: auto;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
      header #sub-selection-nav-area #sub-selection-nav p {
        margin: 0;
        text-transform: uppercase;
        transition: .3s ease;
        -moz-transition: .3s ease;
        -webkit-transition: .3s ease; }
        header #sub-selection-nav-area #sub-selection-nav p:hover {
          cursor: pointer;
          color: #f78f08; }
  header #exclusive-deals-area {
    padding: 10px; }
    header #exclusive-deals-area #exclusive-deals {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin: auto;
      justify-content: space-around; }
      header #exclusive-deals-area #exclusive-deals div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        background: grey;
        border-radius: 5px;
        padding: 15px;
        color: white; }
        header #exclusive-deals-area #exclusive-deals div .exclusive-deals-icons i {
          font-size: 50px; }
        header #exclusive-deals-area #exclusive-deals div .exclusive-description {
          display: flex;
          flex-direction: column;
          text-align: center; }
          header #exclusive-deals-area #exclusive-deals div .exclusive-description p {
            margin: 0; }

/*# sourceMappingURL=header.css.map */
