body {
    width: 100%;
    margin: 0 auto;
}
/*** THE HEADER ***/
header {
    font-family: sans-serif;
    #top-nav-area {
        padding-top: 5px;
        background: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
        .top-nav-icons {
            position: relative;
            top: 5px;
            margin-right: 3px;
        }
        #contact-us-area {
            position: relative;
            top: 10px;
            height: 30px;
            p {
                margin: 0;
                &:nth-child(1) {
                    font-weight: bold;
                }
                a {
                    text-decoration: none;
                    color: #474747;
                    font-weight: 700;
                    font-size: 24px;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
        #currency-converter-area {
            position: relative;
            top: 10px;
            height: 30px;
            select {
                outline: none;
                border: none;
            }
        }
        #site-logo-area {
            display: flex;
            flex-direction: column;
            margin-bottom: 5px;
            div {
                margin: auto;
            }
            a {
                width: 130px;
                margin: auto;
                img {
                    width: 130px;
                    margin: auto;
                }
            }
            p {
                color: #c5c5c5;
                font-size: 5vw;
                font-weight: 700;
                margin: auto;
                span {
                    color: #f78f08;
                }
            }
            input {
                margin: auto;
                width: 150px;
                background-color: #f78f08;
                color: white;
                font-weight: bold;
                border: none;
                border-radius: 5px;
            }
        }
        #sign-in-area {
            position: relative;
            top: 10px;
            display: flex;
            flex-direction: row;
            height: 30px;
            p {
                margin: 0;
                transition: .3s ease;
                -moz-transition: .3s ease;
                -webkit-transition: .3s ease;
                &:hover {
                    cursor: pointer;
                    color: #c5c5c5;
                }
            }
        }
        #shopping-cart-area {
            position: relative;
            top: 10px;
            display: flex;
            flex-direction: row;
            height: 30px;
            p {
                margin: 0;
                transition: .3s ease;
                -moz-transition: .3s ease;
                -webkit-transition: .3s ease;
                &:hover {
                    cursor: pointer;
                    color: #c5c5c5;
                }
            }
        }
    }

    // The sub selection nav section
    #sub-selection-nav-area {
        background: black;
        color: white;
        padding: 10px;
        #sub-selection-nav {
            width: auto;
            margin: auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            p {
                margin: 0;
                padding: 5px;
                text-transform: uppercase;
                transition: .3s ease;
                -moz-transition: .3s ease;
                -webkit-transition: .3s ease;
                &:hover {
                    cursor: pointer;
                    color: #f78f08;
                }
            }
        }
    }
    // The Advertisement 1 Section
    .advertisement-1 {
        padding: 30px;
        text-align: center;
    }
    // The exclusive deals section
    #exclusive-deals-area {
        padding: 10px;
        #exclusive-deals {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            margin: auto;
            justify-content: space-around;
            
            div {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                background: grey;
                border-radius: 5px;
                padding: 15px;
                color: white;
                .exclusive-deals-icons {
                    i {
                        font-size: 50px;
                    }
                }
                .exclusive-description {
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    p {
                        margin: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (max-width: 768px) {
    header {
        #top-nav-area {
            display: flex;
            flex-direction: column;
            #shopping-cart-area {
                display: flex;
                justify-content: center;
                margin: 20px;
                height: 30px;
                position: none;
            }
            #contact-us-area {
                text-align: center;
                position: none;
            }
            #site-logo-area {
                display: flex;
                flex-direction: column;
                margin-top: 50px;
            }
        }
    }
}