body {
  font-family: "Anton", sans-serif;
  margin: 0 auto;
  padding: 0;
  width: 100%;
}

/**** START ****/
/* THE HEADER */
header {
  margin: 0;
  padding: 0;
  /* THE NAVIGATION SECTION */
  /* THE BANNER SECTION */
}

header .nav-section {
  position: fixed;
  width: 100%;
  z-index: 1;
  /* For all links in the navigation */
  color: white;
  background: #ff9f4a;
  /* NAVIGATION CONTAINER */
}

header .nav-section a {
  color: white;
  text-decoration: none;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

header .nav-section a:hover {
  text-shadow: 5px 5px 20px white;
}

header .nav-section .nav-container {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /* WEBSITE TITLE */
  /* MAIN NAVIGATION AND ITS UNLISTED LIST */
}

header .nav-section .nav-container .title h2 {
  text-shadow: 5px 5px 20px yellow;
  margin-top: 10px;
}

header .nav-section .nav-container .nav {
  margin-top: 20px;
}

header .nav-section .nav-container .nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .nav-section .nav-container .nav ul li a {
  margin: 0 10px 0 10px;
}

header .nav-section .nav-container .nav ul li a:hover {
  border-bottom: white solid 5px;
}

header .banner-section {
  padding-top: 3%;
}

/* THE BODY AREA */
/* MORE TO EXPLORE SECTION */
.check-it-out-section {
  margin-top: 40px;
  padding: 0 40px 0 40px;
}

.check-it-out-section .check-it-title {
  color: #ffcfa2;
  padding: 0;
  margin: 0;
}

.check-it-out-section .check-it-content-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.check-it-out-section .check-it-content-wrapper a {
  margin: 20px;
  text-decoration: none;
  color: #575757;
}

.check-it-out-section .check-it-content-wrapper a figure {
  opacity: .9;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 400px;
  height: 500px;
  background-color: #fff2db;
  -webkit-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

.check-it-out-section .check-it-content-wrapper a figure:hover {
  background-color: #fffaf2;
  opacity: 1.0;
}

.check-it-out-section .check-it-content-wrapper a figcaption {
  font-size: 25px;
}

.check-it-out-section .check-it-content-wrapper a .logos-card {
  background-image: url("/src/images/logos.png");
  background-size: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.check-it-out-section .check-it-content-wrapper a .logos-card:hover {
  background-position: -250px -200px;
  background-size: 900px;
}

.check-it-out-section .check-it-content-wrapper a .graphic-tee-card {
  background-image: url("/src/images/graphicTees.jpg");
  background-size: 100%;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.check-it-out-section .check-it-content-wrapper a .graphic-tee-card:hover {
  background-size: 1000px;
  background-position: -300px -650px;
}

.check-it-out-section .check-it-content-wrapper a .content-creation-card {
  background-image: url("/src/images/contentCreation.png");
  background-size: 600px;
  background-position: -120px -50px;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.check-it-out-section .check-it-content-wrapper a .content-creation-card:hover {
  background-size: 100%;
}

/* THE INTRODUCING SECTION */
.introducing-section-container {
  text-align: center;
  width: 70%;
  margin: 10px auto 10px auto;
  color: #575757;
  background: #ffcfa2;
  border-radius: 20px;
}

.introducing-section-container a {
  text-decoration: none;
  color: #575757;
}

.introducing-section-container .introducing {
  text-transform: uppercase;
  color: white;
  text-shadow: 5px 5px 10px black;
  width: 100%;
  padding: 150px;
  background-image: url("/src/images/introMerch.png");
  background-size: cover;
  background-repeat: no-repeat;
  opacity: 0.8;
  border-radius: 20px;
}

.introducing-section-container .introducing img {
  width: 30vw;
}

.introducing-section-container .introducing .intro-heading {
  font-size: 5vw;
}

.introducing-section-container .introducing .intro-sub {
  font-size: 2vw;
}

.introducing-section-container .introducing .intro-buttons button {
  font-size: 50px;
  padding: 5px 40px 5px 40px;
  border: none;
  border-radius: 50px;
  background: #ffcfa2;
  color: white;
  margin-top: 30px;
  -webkit-transition: .2s ease-in-out;
  transition: .2s ease-in-out;
}

.introducing-section-container .introducing .intro-buttons button:hover {
  opacity: 0.5;
}

/** THE FOOTER SECTION **/
footer {
  color: white;
  background-color: #575757;
  padding: 30px;
}
/*# sourceMappingURL=index.css.map */